{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-runtime",
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css" 
    }]
  ]
}