// reset css
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body { font-size:12px; color:#666; font-family:Verdana, Microsoft YaHei, Simsun; background:#fff; line-height:24px; }
fieldset, img { border:0; }
em {
	font-style: normal;
}
.logo {
	width: 100px;
	height: 100%;
	display: inline-block;
	float: left;
	background: url('../images/logo.png');
	background-size: cover;
}
.ant-layout-content {
	min-height: 800px;
	background: white;
}